<html>
    <head>
        <script src="https://unpkg.com/vue"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.js"></script>
        <script src="register.js"></script>
    </head>
    <body onload="initialize()">
        <div id="register_app">
            <form>
                <div>
                <input type="checkbox" v-model="registered_online">
                <label>I registered online</label>
                </div>

                <!-- menu of team names -->
                <label>Team Name</label>
                <select v-model="selected_team_id">
                    <option v-for="team in teams" v-bind:value="team.id">
                        [[ team.name ]] ([[ team.captain ]])
                    </option>
                </select>

                <!-- if registered online, choose name from menu of team members -->
                <div v-if="registered_online">
                    <label>Your Name</label>                
                    <select v-model="selected_walker_id">
                        <option v-for="walker in walkers" v-bind:value="walker.id">
                            [[ walker.name ]]
                        </option>
                    </select>
                </div>
                <!-- if not registered online, type the name here to register -->
                <div v-else>
                    <label>Your Name</label>
                    <input v-model="new_walker_name" placeholder="Enter your name">
                </div>

                <!-- will be replaced by websocket reads -->
                <label>Tag ID</label>
                <input v-model="tag" disabled="true">

                <div>
                    <input type="reset" value="Clear">
                    <input type="submit" value="Register">
                </div>
            </form>
        </div>
    </body>
</html>
