{% extends "base-pure.html" %}

{% block body %}
    <div id="layout">

        {% include side-menu.html %}

        <div id="main">
            <div class="header">
                <h3>Teams by Lap Count</h3>
            </div>
            <div class="content">
                <table class="pure-table">
                    <thead>
                        <tr>
                            <td>Team Name</td>
                            <td>Leader</td>
                            <td>Lap Count</td>
                        </tr>
                    </thead>
                    {% for team in teams_by_laps %}
                        <tr>
                            <td><a href="/team/{{team['id']}}">{{ team['name'] }}</a></td>
                            <td>{{ team['leader'] }}</td>
                            <td>{{ team['laps'] }}</td>
                        </tr>
                    {% end %}
                </table>
                <form action="/team/" method="post" class="pure-form">
                    <fieldset>
                        <input name="team_name" type="text" placeholder="team name">
                        <button type="submit" class="pure-button pure-button-primary">Add team</button>
                    </fieldset>
                </form>            
            </div>
        </div>

    </div>
{% end %}
