/* 
 * Hard-coded colors for each Relay team. 
 * These are assigned when importing teams into the database, 
 * and templated into the leaderboard page
 */

.team_0  {background-color: Red;        color: White;}
.team_1  {background-color: DeepPink;   color: White;}
.team_2  {background-color: LimeGreen;  color: Black;}
.team_3  {background-color: Gold;       color: Black;}
.team_4  {background-color: Chocolate;  color: White;}
.team_5  {background-color: Cyan;       color: Black;}
.team_6  {background-color: DarkOrange; color: White;}
.team_7  {background-color: Teal;       color: White;}
.team_8  {background-color: Fuchsia;    color: White;}
.team_9  {background-color: DodgerBlue; color: White;}
.team_10 {background-color: DarkGray;   color: Black;}
.team_11 {background-color: Magenta;    color: White;}
.team_12 {background-color: Blue;       color: White;}
.team_13 {background-color: Navy;       color: White;}
.team_14 {background-color: Purple;     color: White;}
.team_15 {background-color: Indigo;     color: White;}
.team_16 {background-color: Khaki;      color: Black;}
.team_17 {background-color: red; color: White;}
.team_18 {background-color: red; color: White;}
.team_19 {background-color: red; color: White;}
.team_20 {background-color: red; color: White;}
.team_21 {background-color: red; color: White;}
.team_22 {background-color: red; color: White;}
.team_23 {background-color: red; color: White;}
.team_24 {background-color: red; color: White;}
.team_25 {background-color: red; color: White;}
.team_26 {background-color: red; color: White;}
.team_27 {background-color: red; color: White;}
.team_28 {background-color: red; color: White;}
.team_29 {background-color: red; color: White;}
.team_30 {background-color: red; color: White;}
.team_31 {background-color: red; color: White;}
